{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
<link rel="stylesheet" href="styles.css">
{% block content %}
<div class="card mb-3">
  <div class="row g-0">

    

    <div class="col-md-8">
      <div class="card-body">
        <h5>
          {{product.name}}
        </h5>
        <p class="card-text">{{product.desc}}</p> 
        <p class="card-text">{{product.price}}</p> 
        <p class="card-text">{{product.category}}</p>
        <p class="card-text">{{product.quantity}}</p> 
        
        <form method="POST" action="{% url 'delete_product' product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Product</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
